// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Inter" !default;
$white: #FFFFFF;
$green: #6ABC68;
$black-70: #464646;
$black-69: #423245;
$black-14: #0E0E0E;
$black: #110E3A;
